@{
    ViewBag.Title = "Home Page";
}
       <!-- START SLIDER -->
                <div id="slider" class="cycle group">
                    <div class="slides_container">
                        
                        <!-- START PANEL -->
                        <div class="first slide align-center image-content-type">
                            <!-- HENTRY -->
                            <div class="hentry">
                                <h4>ΗΛΕΚΤΡΟΝΙΚΗ ΠΥΛΗ ΑΝΑΖΗΤΗΣΗΣ <br /> ΜΕΓΑΛΩΝ ΕΓΚΕΚΡΙΜΕΝΩΝ ΕΚΠΑΙΔΕΥΤΗΡΙΩΝ  <span>ΣΕ ΟΛΗ ΤΗ ΧΩΡΑ</span>.</h4>
                            </div>
                            <!-- END HENTRY -->
                            <!-- IMAGE / VIDEO -->
                            <div class="featured-image">
                                <img src="~/Content/themes/imagesForSlider/uni1.jpg"  style="width:700px;height:300px"
                                    alt="βρες εκπαιδευτή κάθε κατηγορίας." /></div>
                            <!-- END IMAGE / VIDEO -->
                            <div class="clear"></div>
                        </div>
                        <!-- END PANEL -->
                        
                        <!-- START PANEL -->
                        <div class="slide align-left image-content-type">
                            <!-- HENTRY -->
                            <div class="hentry">
                                <h2>ΙΔΙΩΤΙΚΑ ΙΕΚ ΚΑΤΑΡΤΙΣΗΣ</h2>
                                
                                <p>Σύνδεσμοι πρός όλα τα ιδιωτικά και δημόσια ΙΕΚ κατάρτισης για τελειόφοιτους γενικού λυκέιου και ΤΕΕ <a href="#">ΙΕΚ </a>ΟΛΕΣ ΟΙ ΕΙΔΙΚΟΤΗΤΕΣ </p>
                                <p>Άμεσοι σύνδεση και ενημέρωση για γονιούς και μαθητές όλων των χαρακτηριστικών και λεπτομερείς   <strong>ΟΔΗΓΟΙ ΣΠΟΥΔΩΝ</strong> για κάθε τμήμα </p>
                                  
                            </div>
                            <!-- END HENTRY -->
                            <!-- IMAGE / VIDEO -->
                             <div class="featured-image"><img src="~/Content/themes/imagesForSlider/uni2.jpg" style ="width:700px;height:300px" alt="Another amazing theme" /></div>
                            <!-- END IMAGE / VIDEO -->
                            <div class="clear"></div>
                        </div>
                        <!-- END PANEL -->

                           <!-- START PANEL -->
                        <div class="slide align-left image-content-type">
                            <!-- HENTRY -->
                            <div class="hentry">
                                <h2>Αναζήτηση καθηγητών βοηθητικής διδασκαλίας</h2>
                                <p>
                                <p>Ενεργή βάση δεδομένων για καθηγητές όλων των κατευθύνσεων απο <strong>ΔΗΜΟΤΙΚΟ</strong> μέχρι και   <strong>ΠΑΝΕΠΙΣΤΗΜΙΟ</strong> Λεπτομερή στοιχεία επικοινωνίας και φίλτρα αναζήτησης για όλους τους νομούς
                                    <a href="#">ΑΝΑΖΗΤΗΣΗ ΚΑΘΗΓΗΤΗ </a> για όλα τα επίπεδα σπουδών </p>
                                <p>Δημιουρ΄γία λοαριασμού για καθηγητές προς διαφήμιση <strong>ΕΑΝ ΕΙΣΑΙ ΚΑΘΗΓΗΤΗΣ ΠΑΤΑ ΕΓΓΡΑΦΗ</strong> για κάθε τομεά </p>
                                </p>   
                            </div>
                            <!-- END HENTRY -->
                            <!-- IMAGE / VIDEO -->
                             <div class="featured-image"><img src="~/Content/themes/imagesForSlider/uni3.jpg" style="width:700px;height:300px"  alt="Another amazing theme" /></div>
                            <!-- END IMAGE / VIDEO -->
                            <div class="clear"></div>
                        </div>
                        <!-- END PANEL -->
                        
                          <!-- START PANEL -->
                        <div class="slide align-left image-content-type">
                            <!-- HENTRY -->
                            <div class="hentry">
                                <h2>Θέματα Πανελλαδικών εξετάσεων</h2>
                                <p>
                                <p>Τελευταία νέα πανελλαδικών εξετάσεων<a href="#">ΠΑΝΕΛΑΔΙΚΕΣ 2015 </a> και λύσεις επι των θεμάτων. </p>
                                 </p>   
                            </div>
                            <!-- END HENTRY -->
                            <!-- IMAGE / VIDEO -->
                             <div class="featured-image"><img src="~/Content/themes/imagesForSlider/uni4.jpg" style="width:700px;height:300px"   alt="Another amazing theme" /></div>
                            <!-- END IMAGE / VIDEO -->
                            <div class="clear"></div>
                        </div>
                        <!-- END PANEL -->
                        
                        <!-- START PANEL -->
                        <div class="last slide align-right video-content-type">
                            <!-- HENTRY -->
                            <div class="hentry">
                                <h2>Προβολή περιεχομένου</h2>
                                <p>
                                <p>αναζήτηση καθηγητή μια ευκολη υπόθεση<strong> για όλα τα επίπεδα σπουδών</strong> και κάθε εκπαιδευτική ανάγκη <a href="#">ΚΑΤΑΡΤΙΣΜΕΝΟΙ ΕΠΙΣΤΗΜΟΝΕΣ</a> όλες οι ειδικότητες </p>
                                </p>   
                            </div>
                            <!-- END HENTRY -->
                            <!-- IMAGE / VIDEO -->
                            <div class="video-container">
                                <!-- change the ID of this class to change the video -->
                                <!-- leave this format: video-VIDEOSOURCE-IDVIDEO -->
                                <!-- for example the video is: http://www.youtube.com/watch?v=hyMqnJc1z9E -->
                                <!-- the new class will be: video-youtube-hyMqnJc1z9E -->
                                <div id="video-vimeo-30507832"></div>
                            </div>
                            <!-- END IMAGE / VIDEO -->
                            <div class="clear"></div>
                        </div>
                        <!-- END PANEL -->
                        
                    </div>
                    <div class="shadow"></div>
                </div>                 
                
                <!-- JS SCRIPT --> 
                <script type="text/javascript">
                    // edit here
                    var slider_cycle_fx = 'slide',
                            slider_cycle_speed = 400,
                            slider_cycle_timeout = 5000,
                            slider_cycle_autoplay = true;
                    // end editing    

                    $('#slider.cycle').css({ display: 'block' });
                    $('#slider.cycle .slide').css({ width: $('#slider.cycle').width() });

                    slider_cycle_timeout = slider_cycle_autoplay ? slider_cycle_timeout : 0;

                    var adjust_height = function (current) {
                        var total = $('#slider .slides_control').children().size();
                        var next = current + 1;
                        // if last slide, set next to first slide
                        next = total === next ? 0 : next;

                        var nextSlide = $('#slider .slides_control .slide:eq(' + current + ')');

                        var slideHeight = nextSlide.height();
                        var height = slideHeight;
                        //var contentHeight = 0;                

                        var changeHeight = function (contentHeight, slideHeight) {
                            if (contentHeight > slideHeight)
                                nextSlide.height(contentHeight);
                        }

                        if ($('.featured-image', nextSlide).length > 0) {

                            var newImg = new Image();
                            var height;

                            newImg.onload = function () {
                                if (newImg.width > 500)
                                    height = (500 * newImg.height) / newImg.width;
                                else
                                    height = newImg.height;

                                changeHeight(height, slideHeight);
                            }

                            newImg.src = $('.featured-image img', nextSlide).attr('src'); // this must be done AFTER setting onload

                        } else if ($('.video-container', nextSlide).length > 0) {
                            var height = $('.video-container', nextSlide).height();
                            changeHeight(height, slideHeight);
                        }
                    };

                    $("#slider.cycle").slides({
                        play: slider_cycle_timeout,
                        width: 960,
                        effect: slider_cycle_fx,
                        generatePagination: false,
                        slideSpeed: slider_cycle_speed,
                        fadeSpeed: slider_cycle_speed,
                        autoHeight: true,
                        slidesLoaded: function () {
                            adjust_height(0);
                        },
                        animationStart: adjust_height,
                        generateNextPrev: false
                    });
                </script>
                <!-- END #slider -->    
                                          
              

                <!-- HOME SECTIONS -->   
                <div class="home-sections">
                       <!-- SECTION #2 -->
                    <div class="section gradient s-2 group">
                        <div class="section-title for-not-mobile">
                            <h2>Υπηρεσίες</h2>
                        </div>
                        <div class="section-content">
                            <div class="tabs-container">
                                <ul class="tabs">
                                    <li>
                                        <h4><a href="#webdesign" title="καθηγητές">Προς καθηγητές</a></h4>
                                    </li>
                                    <li>
                                        <h4><a href="#brand" title="μαθητές">Προς μαθητές</a></h4>
                                    </li>
                                    <li>
                                        <h4><a href="#photo" title="φροντιστήρια">ΦΡΟΝΤΙΣΤΗΡΙΑ</a></h4>
                                    </li>
                                    <li>
                                        <h4><a href="#advertise" title="γονείς">ΓΟΝΕΙΣ</a></h4>
                                    </li>
                                    <li>
                                        <h4><a href="#copywrite" title="ΙΕΚ">ΙΔΙΩΤΙΚΑ ΙΕΚ</a></h4>
                                    </li>
                                    
                                </ul>
                                <div class="border-box group">
                                
                                    <div id="webdesign" class="panel group">
                                        <img src="~/Content/images/icons/professor.png" class="alignright"  />
                                        <h3>Λεπτομέρεις</h3>
                                        <p>
                                           Σε αυτό το site έχετε τη δυνατότητα προβολής των στοιχείων επικοινωνίας σας
                                            σε ενδιαφερόμενους μαθητές και φροντιστήρια. Υπαρχει σύνδεσμος με social networks
                                            για αύξηση τησ δημοτικότητας σας και δυνατότητα προβολής ποσοστών μέσω κοινών 
                                            υπηρεσιών <a href="#">GOOGLE ANALYTICS</a>
                                        </p>
                                    </div>
                                    
                                    <div id="brand" class="panel group">
                                        <img src="~/Content/images/icons/student.png"  class="alignleft" />
                                          <h3>αναζήτηση έμπειρων καθηγητών</h3>
                                        <p>
                                           Σε αυτό το site έχετε τη δυνατότητα αναζήτησης ειδικών κατάρτισμένων σε κάθε τομέα που υπάρχει ανάγκη
                                            υποβοηθησης σας.Διαλέγοντας νομό και ειδικότητα η αναζήτηση γίνεται για σάς πιο εύκολη. έχετε τη δυνατότητα
                                            δημιουργίας λογαριασμού στο site
                                        </p>
                                    </div>
                                    
                                    <div id="photo" class="panel group">
                                          <h3>Πολλαπλές λειτουργίες</h3>
                                        <p>
                                           Σε αυτό το site έχετε τη δυνατότητα αναζήτησης ειδικών κατάρτισμένων σε κάθε τομέα που υπάρχει ανάγκη
                                           για συνεργασία είτε προβολής του ονομαστικού σας σύμφωνα με την περιφέρεια που εξυπηρετείτε.
                                        </p>
                                    </div>
                                    
                                    <div id="advertise" class="panel group">
                                        <img src="~/Content/images/icons/parents.png" alt="" class="alignleft" />
                                         <h3>Ολα τα στοιχεία</h3>
                                        <p>
                                           εδώ θα βρείτε συνδέσμους και λεπτομερή στοιχεία για όλα τις μονάδες εκπαιδευτικής βοήθειας
                                            που μπορούν να εξυπηρετήσουν την περιφέρεια που κατοικείτε.Ιδιαίτερα μαθήματα, φροντιστήρια,
                                            ΙΕΚ κατάρτισης. Όλες οι λεπτομέρειες για το έπαγγελματικό μέλλον του παιδίου σας
                                        </p>
                                    </div>
                                    
                                    <div id="copywrite" class="panel group">
                                       
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="shadow"></div>
                    </div>              
                    <!-- END SECTION #2 -->
            
                    
                </div>   
                <!-- END HOME SECTIONS -->
	<div id="content" class="gradient layout-sidebar-no group">
                    
                    <!-- SLOGAN -->
                    <div id="slogan" class="inner">
                        <h1>ΤΕΛΕΥΤΑΙΑ ΝΕΑ</h1>
                        <h3>ειδήσεις,γεγονότα,αλλαγές <span>πάνω στην εκπαίδευση</span>.</h3>
                    </div>                       
                    <!-- END SLOGAN -->
                    
                    <!-- START CONTENT -->
                    <div id="primary" class="hentry group wrapper-content" role="main">
                        <div class="two-fourth">
                            <h4> Νέες αναρτίσεις </h4>
                            
                            <!-- START LAST NEWS -->
                            <div class="last-news group">
                                <div class="box-post group thumbnail">
                                    <div class="box-post-thumb sphere">
                                        <img  width="86" height="86" src="~/Content/images/lecture.png" />
                                      
                                    </div>
                                    <div class="box-post-body group">
                                        <div class="news_title">
                                            <a class="title" href="#" title="A fresh and nice blog layout: do u like it?">Νεός νόμος εισαγωγής <span>στα ανώτερα ιδρύματα</span></a>
                                        </div>
                                        <div class="news_excerpt">
                                            <p>Αλλαγές στα διαχειριστικά των πανεπιστημίων  [...]</p>
                                        </div>
                                        <p class="meta">
                                            <span class="date">@DateTime.Today.Year / @DateTime.Today.Day</span>   
                                            <span class="author">Υπουργείο παιδείας</span>             
                                                 
                                        </p>
                                    </div>
                                </div>
                                <div class="box-post group thumbnail">
                                    <div class="box-post-thumb sphere">
                                        <img width="86" height="86" src="~/Content/images/icons/dyslexia.jpg"  alt="sushi" title="sushi" />
                                    </div>
                                    <div class="box-post-body group">
                                        <div class="news_title">
                                            <a class="title" href="#">Ειδικοί στην δυσλεξία</a>
                                        </div>
                                        <div class="news_excerpt">
                                            <p>Καταρτισμένοι επιστήμονες ειδικοί στην δυσλεξία, πύλη αναζήτησης για κάθε νομό[...]</p>
                                        </div>
                                        <p class="meta">
                                             <span class="date">@DateTime.Today.Year / @DateTime.Today.Day</span>               
                                            <span class="author">Σύλλογος ψυχολόγων</span>           
                                        </p>
                                    </div>
                                </div>
                            </div>   
                            <!-- END LAST NEWS -->
                            
                        </div>              
                        
                        <div class="two-fourth last">
                            <h4>ΕΚΠΑΙΔΕΥΤΙΚΑ ΙΔΡΥΜΑΤΑ</h4>
                            
                            <!-- START WORKS SLIDER -->
                            <div class="works-slider flexslider">
                                <ul class="slides">
                                    
                                    <li class="box-work">
                                        <a href=#">
                                            <div class="box-work-thumb"><img src="~/Content/themes/base/images/iekxyni425_170.jpg" alt="" /></div>
                                        </a>
                                        <div class="box-work-body">
                                            <h4><a href="#">Ιεκ Ξυνή</a></h4>
                                            <p class="categories"><a href="#" rel="tag">Ιδιωτικό ΙΕΚ εκπαιδευσεως</a></p>
                                        </div>
                                    </li>
                                     <li class="box-work">
                                        <a href="#">
                                            <div class="box-work-thumb"><img src="~/Content/themes/base/images/iekakmi425_170.jpg" alt="" /></div>
                                        </a>
                                        <div class="box-work-body">
                                            <h4><a href="#">ΙΕΚ ΑΚΜΗ</a></h4>
                                            <p class="categories"><a href="#" rel="tag">ΠΡΩΤΟΠΟΡΟΣ</a>, <a href="#" rel="tag">ΣΤΗΝ ΕΚΠΑΙΔΕΥΣΗ</a></p>
                                        </div>
                                    </li>
                                    
                                    <li class="box-work">
                                        <a href="#">
                                            <div class="box-work-thumb"><img src="~/Content/themes/base/images/dereeCollege425_170.jpg" alt="" /></div>
                                        </a>
                                        <div class="box-work-body">
                                            <h4><a href="#">ΟΛΕΣ ΟΙ ΕΙΔΙΚΟΤΗΤΕΣ</a></h4>
                                            <p class="categories"><a href="#" rel="tag">ΤΕΧΝΙΚΗ ΚΑΤΑΡΤΙΣΗ</a></p>
                                        </div>
                                    </li>
                                    </ul>
                            </div>
                            
                        </div>
                    </div>
                    <!-- END CONTENT -->
                </div> 


						